.UserLogin {
    background-color: rgba(218, 230, 230, 0.71);
    position: relative;
    height: 90vh;
    width: 94vw;
    box-shadow: 5px 3px 10px rgba(0, 85, 255, 0.513);
    left: 30px;
    border-radius: 10px;
}

.form {
    background-color: rgba(122, 235, 196, 0.203);
    border-radius: 5px;
    box-shadow: 5px 3px 10px rgba(98, 0, 128, 0.513);
    padding: 50px 20px;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    top: 30%;
    left: 20%;

    label {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
    }

    input {
        border: 2px solid rgb(62, 57, 57);
        box-shadow: 1.5px 2px 1px rgb(58, 14, 56);
        border-radius: 10px;
        padding: 5px;
        font-size: 13px;
        font-weight: 600;

        &:hover {
            color: rgb(67, 3, 9);
            box-shadow: 1.5px 2px 1px rgba(1, 43, 30, 0.631);
        }
    }

    button {
        border-radius: 25px;
        background-color: rgba(234, 0, 255, 0.581);
        box-shadow: 2px 2.5px 3px rgba(66, 66, 66, 0.824);
        position: relative;
        top: 30px;
        font-weight: 700;

        &:hover {
            color: rgba(234, 0, 255, 0.639);
            box-shadow: 1px 2px 1px rgba(0, 255, 204, 0.618);
            background-color: black;
        }
    }

    p {
        position: relative;
        top: 30px;
        left: 35px;
        font-weight: 600;

        &:hover {
            color: green;
        }

        a {
            &:hover {
                color: red;
            }
        }
    }
}